.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  margin-top: 40px;
}


#contenido {
    width: 80%;
    margin: 30px auto;
}

.card {
    background: #2b2b2b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-left: 5px solid #ff3b3b;
    color: white;
}

.card img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
    filter: brightness(1.15);
}

/* --- ESTILOS DEL HEADER --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* LOGO */
#logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo img {
    width: 50px;
}

#logo h1 {
    font-size: 22px;
    color: #333;
}

/* MENÚ */
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #0a74da;
}

/* PERFIL */
.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

#profile-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

#profile-btn img {
    width: 35px;
    border-radius: 50%;
}

/* OPCIONAL: efecto hover */
#profile-btn:hover span {
    color: #0a74da;
}

/* --- MODAL --- */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* Contenido del formulario */
.modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    animation: aparecer 0.3s ease;
}

@keyframes aparecer {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Botón cerrar */
.cerrar {
    float: right;
    font-size: 26px;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  transition: 0.3s;
}

.footer-nav a:hover {
  color: #00aaff;
}
